<div class="converter-container">
  <div class="converter-input">
    <label>Amount:</label>
    <input [(ngModel)]="amount" type="number" />
  </div>

  <div class="converter-select">
    <label>From Currency:</label>
    <select [(ngModel)]="currencyFrom">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>

  <div class="converter-select">
    <label>To Currency:</label>
    <select [(ngModel)]="currencyTo">
      <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
    </select>
  </div>

  <button (click)="convert()">Convert</button>

  <div class="conversion-results">
    <p>{{ amount }} {{ currencyFrom }} = {{ convertedAmount }} {{ currencyTo }}</p>
    <p>{{ amount }} {{ currencyTo }} = {{ reversedConvertedAmount }} {{ currencyFrom }}</p>
  </div>
</div>

